@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.test {
    color: blanchedalmond;
    background-color: blue;
    font-family:'Inter', sans-serif;
    font-weight:700 ;
    font-size: 48px;  
    font-style: normal;
    text-align: center;
    height: auto;}

#p1 {
    color: blue;
    font-family:'Inter', sans-serif;
    font-weight:400 ;
    font-size: 20px;  
    font-style: normal;}

body {
  font-family: 'Inter', sans-serif;
  color: blue;
  background: hsla(36, 100%, 90%, 0.8);/* umjesto naziva boje */} 
  
ul, ol {
    margin-left: 40px;
    padding: 10px;}

ul li {
    list-style: square;}

ol li {
    list-style: decimal;}

.cross { text-decoration: line-through; }

section {
    margin-bottom: 40px;}

.note {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: blue;
    text-align: center;}

aside {
    float: right;
    width: 30%;
    background-color: #fff3cd;
    padding: 10px 15px;
    border-left: 4px solid #f0ad4e;
    display: block;}

.highlight {
  color: hsl(0, 100%, 50%); /* umjesto naziva boje */
  font-weight: bold;}

#interliber-table {
    width: 70%;
    height: fit-content;
    margin: 30px auto;
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}

#interliber-table thead th {
    background-color: #ffe8c8;
    padding: 12px;
    font-size: 18px;
    border-bottom: 2px solid #d9b58b;
    text-align: center;}

.top-row {
    text-align: center;
    font-weight: 700;
    background-color: #ffe1b3;}

#interliber-table tbody tr:nth-child(even) {
    background-color: #fff7ed;}

#interliber-table td, 
#interliber-table th {
    padding: 12px;
    border-bottom: 1px solid #ecd7bf;}

#interliber-table td:hover {
    background-color: #f6e3c7;
    transition: 0.3s;}

.not-found {
    color: #c0392b;
    font-weight: bold;}

.price {
    text-align: right;
    font-weight: 600;}


fieldset {
    width:400px;
    background:#f9f3e9;
    border:2px solid #f8dba5;
    border-radius:15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;}

form {
    font-family: 'Inter', sans-serif;
    color: blue;
    padding: 20px;
    border-radius: 15px;
    width: 300px;}

button[type=submit],input[type=reset] {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;}


input[type=reset] {background:#f79090;}
button[type=submit] {background:#90f7d9;}
