@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.test {
    color: blanchedalmond;
    background-color: blue;
    font-family:'Inter', sans-serif;
    font-weight:700 ;
    font-size: 48px;  
    font-style: normal;
    text-align: center;}

#p1 {
    color: blue;
    background-color: blanchedalmond;
    font-family:'Inter', sans-serif;
    font-weight:400 ;
    font-size: 20px;  
    font-style: normal;}

body {
  font-family: 'Inter', sans-serif;
  color: blue;
  background: hsla(36, 100%, 90%, 0.8);/* umjesto naziva boje */} 

  
ul, ol {
    margin-left: 40px;
    padding: 10px;}

ul li {
    list-style: square;}

ol li {
    list-style: decimal;}

section {
    margin-bottom: 40px;}

.note {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: blue;
    text-align: center;}

aside {
    float: right;
    width: 30%;
    background-color: #fff3cd;
    padding: 10px 15px;
    border-left: 4px solid #f0ad4e;
    display: block;}

.highlight {
  color: hsl(0, 100%, 50%); /* umjesto naziva boje */
  font-weight: bold;}


fieldset {
    width:400px;
    background:#f9f3e9;
    border:2px solid #f8dba5;
    border-radius:15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 20px;}

form {
    font-family: 'Inter', sans-serif;
    color: blue;
    padding: 20px;
    border-radius: 15px;
    width: 300px;}

button[type=submit],input[type=reset] {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: bold;}


input[type=reset] {background:#f79090;}
button[type=submit] {background:#90f7d9;}
